TELEGRAM_BOT_TOKEN=
WALLETCONNECT_PROJECT_ID=
BOT_SERVER_WALLET_KEY=
BASE_RPC_URL=https://mainnet.base.org
INKD_REGISTRY_ADDRESS=0xEd3067dDa601f19A5737babE7Dd3AbfD4a783e5d
INKD_API_URL=https://api.inkdprotocol.com
INKD_INDEXER_DB=../data/indexer.db
IRYS_NODE_URL=https://node2.irys.xyz
